@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #C1DADF;
  box-sizing: border-box;
}

.pat__titulo-01r {
  font-size: 2.5rem;
  font-weight: 400;
}

.pat__titulo-01b {
  font-size: 2.5rem;
  font-weight: 600;
}

.pat__titulo-02r {
  font-size: 2rem;
  font-weight: 400;
}

.pat__titulo-02b {
  font-size: 2rem;
  font-weight: 600;
}

.pat__titulo-03r {
  font-size: 1.5rem;
  font-weight: 400;
}

.pat__titulo-03b {
  font-size: 1.5rem;
  font-weight: 600;
}

.pat__titulo-04r {
  font-size: 1rem;
  font-weight: 400;
}

.pat__titulo-04b {
  font-size: 1rem;
  font-weight: 600;
}

.pat__color-00 {
  color: #0d1a35;
}

.pat__color-01 {
  color: #142850;
}

.pat__color-02 {
  color: #243f68;
}

.pat__color-03 {
  color: #27496d;
}

.pat__color-04 {
  color: #0c7b93;
}

.pat__color-05 {
  color: #00A8CC;
}

.pat__color-06 {
  color: #C1DADF;
}

.pat__color-07 {
  color: #fff;
}

/* ///////////////////Generales/////////////////// */
html {
  font-size: 16px;
}

body {
  margin: 0px;
  background-color: #142850;
}

.col {
  margin: 0;
  padding: 0;
}

a {
  color: #00A8CC;
  font-size: 1rem;
}

.container-fluid {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

/* ///////////////////Divisor de seccion/////////////////// */
.divisor-01 {
  background: linear-gradient(to bottom, #0d1a35, #142850);
  /* Degradado de colores */
  height: 3rem;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

/* ///////////////////Quienes Somos Container/////////////////// */
.quienessomos-container {
  width: 100%;
  max-width: 500px;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-spacetop {
  margin-top: 2rem;
}

.txt-spacetop-half {
  margin-top: 1rem;
}

.txt-spacetop-double {
  margin-top: 4rem;
}

.txt-spacebottom {
  margin-bottom: 2rem;
}

.txt-space-0 {
  margin: 0;
  padding: 0;
}

.custom-margin {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.custom-margin8 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-caption-margin {
  margin-top: 100px;
}

.txt-padding {
  padding: 2rem;
}

/* ///////////////////CLASES PARA NAVBAR DE BOOSTRAP/////////////////// */
/* Estilo para los enlaces de navbar */
.navbar-nav .nav-link {
  color: #FFF;
  padding-left: 15px;
}
.navbar-nav .nav-link:hover {
  color: #00A8CC;
}

/* Estilos para boton hamburguesa "toggler" de NAVBAR */
.navbar-toggler-icon {
  /* Cambiar el color del ícono de negro a blanco */
  filter: invert(1);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-brand {
  margin-right: 10px;
  margin-left: 10px;
}

.navbar-custom-margin {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

form.d-flex {
  margin-left: 20px;
  margin-right: 20px;
}

/* Estilo para boton de search en NAVBAR */
.btn-custom {
  background: linear-gradient(to bottom, #0c7b93, #243f68);
  border: none;
  color: #FFF;
}

/* Fondo tranparente de NAVBAR */
.bg-body-tertiary {
  --bs-bg-opacity: 0;
}

/* ///////////////////Clases para CARDS/////////////////// */
.cards {
  max-height: 28rem;
  background-color: #27496d;
  border-radius: 14px;
  padding: 1.5rem;
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #C1DADF;
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.5);
}
.cards__img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
.cards__btn {
  font-size: 1rem;
  text-align: center;
  background-image: linear-gradient(to bottom, #00A8CC, #0c7b93);
  color: #FFF;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  width: auto;
  width: 100%;
}
.cards__button__img {
  max-width: 100%;
  height: auto;
  margin-left: 0.5rem;
}

/* ///////////////////Hover para CARDS/////////////////// */
.contenedor-hoverimg {
  position: relative;
  /* El contenedor va siempre en posición relativa */
}
.contenedor-hoverimg .hover-imagen {
  position: absolute;
  /* Coloca la imagen hover en la misma posición que la imagen original */
  top: 0;
  left: 0;
  opacity: 0;
  /* Oculta la imagen hover inicialmente */
  transition: opacity 0.5s ease;
  /* Transición de opacidad */
}
.contenedor-hoverimg:hover .hover-imagen {
  opacity: 1;
  /* Muestra la imagen hover al hacer hover sobre el contenedor */
}

/*////////////////////////// FORM de CONTACTO ////////////////////////// */
.contact-form {
  width: 100%;
  max-width: 500px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group input[type=text],
.form-group input[type=email],
.form-group select,
.form-group textarea {
  color: #27496d;
  font-size: 0.9rem;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #C1DADF;
  border-radius: 10px;
  margin-top: 10px;
}
.form-group textarea {
  height: 150px;
}

.submit-btn-contact {
  font-size: 1rem;
  text-align: center;
  background-image: linear-gradient(to bottom, #00A8CC, #0c7b93);
  color: #FFF;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  width: auto;
}

/*////////////////////////// FORM de TIENDA PREVENTA ////////////////////////// */
.tienda-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}

.submit-btn-tienda {
  font-size: 1rem;
  text-align: center;
  background-image: linear-gradient(to bottom, #00A8CC, #0c7b93);
  color: #FFF;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  width: auto;
  margin-top: 10px;
  margin-left: 10px;
}

.head-carrousel {
  background: linear-gradient(to bottom, #27496d, #142850);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}

/* ///////////////////Clases para Acordion de Boostrap FAQS/////////////////// */
.custom-accordion-text {
  color: #243f68;
  /* Cambia el color del texto de las respuestas */
}

.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: #27496d;
}

.accordion-button {
  background-color: #27496d;
  color: #FFF;
}

.accordion-button.collapsed {
  color: #FFF;
  /* Cambia el color de la fuente cuando el botón está colapsado */
}

.accordion-button:not(.collapsed) {
  color: #FFF;
  /* Cambia el color del título del ítem cuando el acordeón está desplegado */
}

/*////////////////////////// FOOTER ////////////////////////// */
.footer-flex {
  background-position: center bottom;
  background-image: url("../assets/footer-01.png");
  background-size: cover;
  /* Para cubrir todo el contenedor */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
  height: 12.75rem;
}
.footer-flex ul {
  margin-top: 20px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: flex-end;
  list-style-type: none;
}
.footer-flex ul li {
  margin: 5px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: flex-end;
}
.footer-flex ul li a {
  color: #C1DADF;
  text-decoration: none;
}

/* ///////////////////MEDIA QUERIES DE BOOSTRAP/////////////////// */
/* Estilos para dispositivos extra small en ---BOOST NO TIENE CLASE */
@media (max-width: 575.98px) {
  .cards__title {
    font-size: 1.5rem;
  }
  .cards__subtitle {
    font-size: 1.5rem;
  }
  .cards__description {
    font-size: 1rem;
  }
  .pat__titulo-01b {
    font-size: 2rem;
  }
  .pat__titulo-02r {
    font-size: 1.5rem;
  }
}
/* Estilos para dispositivos pequeños (igual o mayor a 576px) en ---BOOST sm */
@media (max-width: 576px) {
  .cards__title {
    font-size: 1.5rem;
  }
  .cards__subtitle {
    font-size: 1.5rem;
  }
  .cards__description {
    font-size: 1rem;
  }
  .pat__titulo-01b {
    font-size: 2rem;
  }
  .pat__titulo-02r {
    font-size: 1.5rem;
  }
}
/* Estilos para dispositivos medianos (igual o mayor a 768px) en ---BOOST md */
@media (max-width: 768px) {
  .cards__subtitle {
    font-size: 1rem;
  }
  .pat__titulo-01b {
    font-size: 2rem;
  }
  .pat__titulo-02r {
    font-size: 1.5rem;
  }
}
/* Estilos para dispositivos grandes (igual o mayor a 992px) en ---BOOST lg */
@media (max-width: 992px) {
  .cards__title {
    font-size: 1.5rem;
  }
  .cards__subtitle {
    font-size: 1.5rem;
  }
  .cards__description {
    font-size: 1rem;
  }
  .pat__titulo-01b {
    font-size: 2rem;
  }
  .pat__titulo-02r {
    font-size: 1.5rem;
  }
}
/* Estilos para dispositivos extra grandes (igual o mayor a 1200px) en ---BOOST xl */
@media (max-width: 1200px) {
  .cards__subtitle {
    font-size: 1rem;
  }
  .cards__title {
    font-size: 1rem;
  }
}
/* Estilos para dispositivos extra grandes (igual o mayor a 1400px) en ---BOOST xxl */
@media (max-width: 1400px) {
  .cards__title {
    font-size: 1.5rem;
  }
  .cards__subtitle {
    font-size: 1.5rem;
  }
  .cards__description {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
