@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #C1DADF;
  box-sizing: border-box;
}

.Pat__titulo-01r {
  font-size: 2.5rem;
  font-weight: 400;
}

.Pat__titulo-01b {
  font-size: 2.5rem;
  font-weight: 600;
}

.Pat__titulo-02r {
  font-size: 2rem;
  font-weight: 400;
}

.Pat__titulo-02b {
  font-size: 2rem;
  font-weight: 600;
}

.Pat__titulo-03r {
  font-size: 1.5rem;
  font-weight: 400;
}

.Pat__titulo-03b {
  font-size: 1.5rem;
  font-weight: 600;
}

.Pat__titulo-04r {
  font-size: 1rem;
  font-weight: 400;
}

.Pat__titulo-04b {
  font-size: 1rem;
  font-weight: 600;
}

.Pat__titulo-05r {
  font-size: 0.8rem;
  font-weight: 400;
}

.Pat__titulo-05b {
  font-size: 0.8rem;
  font-weight: 600;
}

.Pat__color-00 {
  color: #0d1a35;
}

.Pat__color-01 {
  color: #142850;
}

.Pat__color-02 {
  color: #243f68;
}

.Pat__color-03 {
  color: #27496d;
}

.Pat__color-04 {
  color: #0c7b93;
}

.Pat__color-05 {
  color: #00A8CC;
}

.Pat__color-06 {
  color: #C1DADF;
}

.Pat__color-07 {
  color: #fff;
}

/* ///////////////////Generales/////////////////// */
html {
  font-size: 16px;
}

body {
  margin: 0px;
  background-color: #142850;
}

.col {
  margin: 0;
  padding: 0;
}

a {
  color: #00A8CC;
  font-size: 1rem;
}

/* ///////////////////Divisor de seccion/////////////////// */
.divisor-01 {
  background: linear-gradient(to bottom, #0d1a35, #142850); /* Degradado de colores */
  height: 3rem;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-spacetop {
  margin-top: 2rem;
}

/* ///////////////////CLASES PARA NAVBAR DE BOOSTRAP/////////////////// */
.bg-body-tertiary {
  --bs-bg-opacity: 0; /* Fondo tranparente de nav */
}

/* Estilo para los enlaces de navbar */
.navbar-nav .nav-link {
  color: #fff; /* Cambia el color del texto de los enlaces */
}

/* Estilo para los enlaces al pasar el mouse */
.navbar-nav .nav-link:hover {
  color: #00A8CC; /* Cambia el color del texto de los enlaces al pasar el mouse */
}

/* Estilo para boton de search en NAVBAR */
.btn-custom {
  background: linear-gradient(to bottom, #0c7b93, #243f68); /* Degradado de naranja a rojo */
  border: none; /* Sin borde */
  color: #ffffff; /* Color del texto del botón */
  /* Puedes añadir más estilos según sea necesario */
}

.navbar-toggler-icon {
  /* Cambiar el color del ícono a blanco */
  filter: invert(1);
}

.navbar-toggler {
  border: none; /* Quitar el borde */
}

/* ///////////////////Clases para CARDS/////////////////// */
.cards {
  max-height: 28rem;
  background-color: #142850;
  border-radius: 14px;
  padding: 1.5rem;
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #C1DADF;
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.5);
}
.cards__img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
.cards__title {
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 600;
  color: #00A8CC;
}
.cards__subtitle {
  font-size: 0.8rem;
  font-weight: 400;
}
.cards__description {
  font-size: 0.8rem;
  text-align: center;
}
.cards__btn {
  font-size: 0.9rem;
  text-align: center;
  background-image: linear-gradient(to bottom, #00A8CC, #0c7b93);
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
}
.cards__button__img {
  max-width: 100%;
  height: auto;
  margin-left: 0.5rem;
}

.contenedor-hoverimg {
  position: relative; /* El contenedor va siempre tenga posición relativa */
}
.contenedor-hoverimg .hover-imagen {
  position: absolute; /* Coloca la imagen hover en la misma posición que la imagen original */
  top: 0;
  left: 0;
  opacity: 0; /* Oculta la imagen hover inicialmente */
  transition: opacity 0.5s ease; /* Transición de opacidad */
}
.contenedor-hoverimg:hover .hover-imagen {
  opacity: 1; /* Muestra la imagen hover al hacer hover sobre el contenedor */
}

/*////////////////////////// FORM ////////////////////////// */
.contact-form {
  width: 80%;
}

.form-group {
  margin-bottom: 30px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type=text],
.form-group input[type=email],
.form-group select,
.form-group textarea {
  color: #27496d;
  font-size: 0.9rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.form-group select option {
  color: #27496d; /* Cambiar aquí el color del texto */
}

.form-group textarea {
  height: 100px;
}

.form-group .radio-group {
  margin-bottom: 10px;
}
.form-group .radio-group label {
  display: inline-block;
  margin-right: 10px;
  color: #27496d;
}

.submit-btn {
  font-size: 0.9rem;
  text-align: center;
  background-image: linear-gradient(to bottom, #00A8CC, #0c7b93);
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  width: 50%;
}

.radio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Aplica el mixin para centrar los radios */
  margin-top: 10px;
}

.radio-container input[type=radio],
.radio-container label {
  margin: 0 5px; /* Espacio entre radios y etiquetas */
}

.radio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* ///////////////////Clases para Acordion de Boostrap FAQS/////////////////// */
.custom-accordion-text {
  color: #243f68; /* Cambia el color del texto de las respuestas */
}

.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: #27496d;
}

.accordion-button {
  background-color: #27496d;
  color: #fff;
}

.accordion-button.collapsed {
  color: #fff; /* Cambia el color de la fuente cuando el botón está colapsado */
}

.accordion-button:not(.collapsed) {
  color: #fff; /* Cambia el color del título del ítem cuando el acordeón está desplegado */
}

/*////////////////////////// FOOTER ////////////////////////// */
.footer-flex {
  background-position: center bottom;
  background-image: url("../assets/footer-01.png");
  background-size: cover; /* Para cubrir todo el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 12.75rem;
}
.footer-flex ul {
  margin-top: 20px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: flex-end;
  list-style-type: none;
}
.footer-flex ul li {
  margin: 5px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: flex-end;
}
.footer-flex ul li a {
  color: #C1DADF;
  text-decoration: none;
}

/* ///////////////////MEDIA QUERIES DE BOOSTRAP/////////////////// */
/* Estilos para dispositivos extra small en ---BOOST NO TIENE CLASE */
@media (max-width: 575.98px) {
  .cards__title {
    font-size: 1.5rem;
  }
  .cards__subtitle {
    font-size: 1.5rem;
  }
  .cards__description {
    font-size: 0.9rem;
  }
  /* Estilos font mapping para 01b y 02r hasta 1200 xl*/
  .Pat__titulo-01b {
    font-size: 1.2rem;
  }
  .Pat__titulo-02r {
    font-size: 1rem;
  }
  .Pat__titulo-03b {
    font-size: 1rem;
  }
  .Pat__titulo-04r {
    font-size: 0.8rem;
  }
}
/* Estilos para dispositivos pequeños (igual o mayor a 576px) en ---BOOST sm */
@media (min-width: 576px) {
  .cards__title {
    font-size: 1.5rem;
  }
  .cards__subtitle {
    font-size: 1.5rem;
  }
  .cards__description {
    font-size: 1rem;
  }
  /* Estilos font mapping para 01b y 02r hasta 1200 xl*/
  .Pat__titulo-01b {
    font-size: 1.2rem;
  }
  .Pat__titulo-02r {
    font-size: 1rem;
  }
}
/* Estilos para dispositivos medianos (igual o mayor a 768px) en ---BOOST md */
@media (min-width: 768px) {
  .cards__subtitle {
    font-size: 1rem;
  }
  /* Estilos font mapping para 01b y 02r hasta 1200 xl*/
  .Pat__titulo-01b {
    font-size: 1.2rem;
  }
  .Pat__titulo-02r {
    font-size: 1rem;
  }
}
/* Estilos para dispositivos grandes (igual o mayor a 992px) en ---BOOST lg */
@media (min-width: 992px) {
  .cards__title {
    font-size: 1.5rem;
  }
  .cards__subtitle {
    font-size: 1.5rem;
  }
  .cards__description {
    font-size: 1rem;
  }
  /* Estilos font mapping para 01b y 02r hasta 1200 xl*/
  .Pat__titulo-01b {
    font-size: 1.7rem;
  }
  .Pat__titulo-02r {
    font-size: 1.3rem;
  }
}
/* Estilos para dispositivos extra grandes (igual o mayor a 1200px) en ---BOOST xl */
@media (min-width: 1200px) {
  .cards__subtitle {
    font-size: 1rem;
  }
  /* Estilos font mapping para 01b y 02r hasta 1200 xl*/
  .Pat__titulo-01b {
    font-size: 2rem;
  }
  .Pat__titulo-02r {
    font-size: 1.3rem;
  }
}
/* Estilos para dispositivos extra grandes (igual o mayor a 1400px) en ---BOOST xxl */
@media (min-width: 1400px) {
  .cards__title {
    font-size: 1.5rem;
  }
  .cards__subtitle {
    font-size: 1.5rem;
  }
  .cards__description {
    font-size: 1rem;
  }
  .Pat__titulo-01b {
    font-size: 2.5rem;
  }
  .Pat__titulo-02r {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
