/* ///////////////////Clases para Acordion de Boostrap FAQS/////////////////// */
.custom-accordion-text {
  color: $color-02;
  /* Cambia el color del texto de las respuestas */
}

.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: $color-03;
}

.accordion-button {
  background-color: $color-03;
  color: $color-07;
}

.accordion-button.collapsed {
  color: $color-07;
  /* Cambia el color de la fuente cuando el botón está colapsado */
}

.accordion-button:not(.collapsed) {
  color: $color-07;
  /* Cambia el color del título del ítem cuando el acordeón está desplegado */
}