/*////////////////////////// FORM de CONTACTO ////////////////////////// */
.form-container {
  @include flex-center;
}

.form-group {

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    color: $color-03;
    font-size: 0.9rem;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid $color-06;
    border-radius: 10px;
    margin-top: 10px;
  }

  textarea {
    height: 150px;
  }
}

.submit-btn-contact {
  @include btn-look;
}

/*////////////////////////// FORM de TIENDA PREVENTA ////////////////////////// */
.tienda-form {
  @include flex-center;
  flex-direction: row;
  text-align: center
}

.submit-btn-tienda {
  @include btn-look;
  margin-top: 10px;
  margin-left: 10px;
}

.head-carrousel {
  background: linear-gradient(to bottom, $color-03, $color-01);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}