/* ///////////////////Generales/////////////////// */
html {
  font-size: 16px;
}

body {
  margin: 0px;
  background-color: $color-01;
}

.col {
  @include no-mp;
}

a {
  color: $color-05;
  font-size: 1rem;
}

.container-fluid {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}


/* ///////////////////Divisor de seccion/////////////////// */
.divisor-01 {
  background: linear-gradient(to bottom, $color-00, $color-01);
  /* Degradado de colores */
  height: 3rem;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

/* ///////////////////Quienes Somos Container/////////////////// */
.quienessomos-container {
  width: 100%;
  max-width: 500px;
}

 