/* ///////////////////Generales/////////////////// */
html {
    font-size: 16px;
}

body {
    margin: 0px;
    background-color: #142850;
}

.col {
    @include no-mp;
}


a {
    color:$color-05;
    font-size: 1rem;
  }


  /* ///////////////////Divisor de seccion/////////////////// */
.divisor-01 {
    background: linear-gradient(to bottom, #0d1a35, #142850); /* Degradado de colores */
    height: 3rem;
  }


