/* ///////////////////MEDIA QUERIES DE BOOSTRAP/////////////////// */

/* Estilos para dispositivos extra small en ---BOOST NO TIENE CLASE */
@media (max-width: 575.98px) {
    .cards__title {
        font-size: 1.5rem; 
        margin-top: rem;
        font-weight: 600;
        color: #00a8cc;
    }
    
    .cards__subtitle {
        font-size: 1.5rem;
        font-weight: 400;   
    }
    
    .cards__description {
        font-size: 0.9rem; 
        text-align: center;  
    }
   }


  /* Estilos para dispositivos pequeños (igual o mayor a 576px) en ---BOOST sm */
  @media (min-width: 576px) {
    .cards__title {
        font-size: 1.5rem; 
        margin-top: rem;
        font-weight: 600;
        color: #00a8cc;
    }
    
    .cards__subtitle {
        font-size: 1.5rem;
        font-weight: 400;   
    }
    
    .cards__description {
        font-size: 1rem; 
        text-align: center;  
    }
   }


  /* Estilos para dispositivos medianos (igual o mayor a 768px) en ---BOOST md */
  @media (min-width: 768px) {
    .cards__subtitle {
        font-size: 1rem;
        font-weight: 400;   
    }
 
   
  }
  


  /* Estilos para dispositivos grandes (igual o mayor a 992px) en ---BOOST lg */
  @media (min-width: 992px) {
    .cards__title {
        font-size: 1.5rem; 
        margin-top: rem;
        font-weight: 600;
        color: #00a8cc;
    }
    
    .cards__subtitle {
        font-size: 1.5rem;
        font-weight: 400;   
    }
    
    .cards__description {
        font-size: 1rem; 
        text-align: center;  
    }
   }
  


  /* Estilos para dispositivos extra grandes (igual o mayor a 1200px) en ---BOOST xl */
  @media (min-width: 1200px) {
    
  }

   /* Estilos para dispositivos extra grandes (igual o mayor a 1400px) en ---BOOST xxl */
   @media (min-width: 1400px) {
    .cards__title {
        font-size: 1.5rem; 
        margin-top: rem;
        font-weight: 600;
        color: #00a8cc;
    }
    
    .cards__subtitle {
        font-size: 1.5rem;
        font-weight: 400;   
    }
    
    .cards__description {
        font-size: 1rem; 
        text-align: center;  
    }
   }
