.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-spacetop {
  margin-top: 2rem;
}

.txt-spacetop-half {
  margin-top: 1rem;
}

.txt-spacetop-double {
  margin-top: 4rem;
}

.txt-spacebottom {
  margin-bottom: 2rem;
}

.txt-space-0 {
  margin: 0;
  padding: 0;
}

/* ///////////////////START Custom MARGINS and CONTAINERS/////////////////// */
.custom-margin {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.custom-margin-faqs {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.custom-margin8 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.contact-form {
  width: 100%;
  max-width: 500px;
}

.quienessomos-container {
  width: 100%;
  max-width: 500px;
}

.custom-carousel {
  max-width: 70%;
  margin: 0 auto;
}

.custom-carousel .carousel-inner img {
  width: 100%;
  height: auto;

}

/* ///////////////////START Custom IMAGE para distintos componenetes/////////////////// */
.custom-image1 {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.carousel-caption-margin {
  margin-top: 100px;
}

.txt-padding {
  padding: 2rem;
}