.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-spacetop {
  margin-top: 2rem;
}

.txt-spacetop-half {
  margin-top: 1rem;
}

.txt-spacetop-double {
  margin-top: 4rem;
}

.txt-spacebottom {
  margin-bottom: 2rem;
}

.txt-space-0 {
  margin: 0;
  padding: 0;
}

.custom-margin {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.custom-margin8 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-caption-margin {
  margin-top: 100px;
}

.txt-padding {
  padding: 2rem;
}