 /* ///////////////////Mi paleta de colores/////////////////// */

.color-00 {
    color: #0d1a35;
}

.color-01 {
    color: #142850;
}

.color-02 {
    color: #243f68;
}

.color-03 {
    color: #27496d;
}

.color-04 {
    color: #0c7b93;
}

.color-05 {
    color: #00A8CC;
}

.color-06 {
    color: #C1DADF;
}