$color-00: #0d1a35;
$color-01: #142850;
$color-02:#243f68;
$color-03:#27496d;
$color-04: #0c7b93;
$color-05: #00A8CC;
$color-06: #C1DADF;
$color-07: #FFF;
$proyect-font:'Poppins', sans-serif;

